
.paragraph-div {
    padding: 10%;
    background-color: rgba(0, 0, 0, 0.15);
}

.paragraph {
    font-size: x-large;
    align-self: center;
    justify-self: center;
    text-align: justify;
    line-height: 2;

}
.heroimg {
    height: 45vh;
    border-radius: 20px;
    float: right;
    margin: 15px;
}

@media screen and (max-width: 900px) {
    .paragraph {
        margin-top: 15%;
        font-size: small;
        align-self: center;
        justify-self: center;
        text-align: center;
        line-height:2;
    }

    .heroimg {
        height: 25vh;
        border-radius: 20px;
        float: right;
        margin-top: 17%;
    }

    .paragraph-div {
        margin-top: 35%;
        padding: 5%;
        background-color: rgba(0, 0, 0, 0.15);
    }
}