.journey{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.carousel {
    /*overflow: hidden;*/
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
}
.courseDate{
    justify-self: right;
}

.inner{
    /*white-space: nowrap;*/
    transition: transform 0.3s;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}
.studies-list, .work-list{
    text-align: left;
    padding-left: 5%;
    padding-top: 2%;
}
.languages-list, .framework-list{
    text-align: left;
}

.carousel-item{
    /*display: inline-flex;*/
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100%;
}

.carousel-buttons{
    margin-top: 2%;
    color: white;
    display: inline-flex;
    justify-content: space-evenly;
}

.studies,.work,.skills{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    text-align: center;
}
.visible{
    /*display: inline-flex;*/
    animation: fadeIn 1s;
}
.hidden{
    animation: fadeOut 2s;
    display: none;
}
.title{
    display: flex;
    justify-content: space-between;
}
.indicator-item{
    padding: 10px;
}
.position{
    margin-top: 10px;
    text-decoration: underline;
    display: flex;
    justify-content: space-between;
}
.programming-language,.framework-item{
    margin-bottom: 10px;
}
.skills-container,.softSkillsContainer{
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width: 900px) {
}


@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
